<div class="w-full max-w-sm bg-white rounded-lg shadow dark:bg-gray-800">
  <div class="flex justify-end px-4 pt-4">
    <div
      class="inline-block border-spacing-1 border-white hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
    >
      <fa-icon
        [style.font-size.px]="iconSize"
        [style.color]="iconColor"
        [icon]="setIcon(userdata.gender)"
      ></fa-icon>
    </div>
  </div>
  <div class="flex flex-col items-center pb-10">
    <div
      class="py-2 px-4 mb-2 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      {{ userdata.domain }}
    </div>
    <img
      class="w-24 h-24 mb-3 rounded-full shadow-lg bg-white"
      [src]="userdata.avatar"
      [alt]="userdata.first_name"
    />
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      {{ userdata.first_name }} {{ userdata.last_name }}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{{
      userdata.email
    }}</span>
    <div class="flex mt-4 md:mt-6">
      <button
        [disabled]="!userdata.available"
        [ngClass]="{ 'bg-gray-500': !userdata.available }"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        {{ userdata.available ? "Add to Team" : "Not Available" }}
      </button>
    </div>
  </div>
</div>
